- is_liked = post.liked_by? current_user
- path = is_liked ? post_like_path(post, post.find_like(current_user)) : post_likes_path(post)
- method = is_liked ? :delete : :post

span.me-2 = post.likes.count
= link_to path, method:, data: { turbo_method: method } do
  i.bi class="#{is_liked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'}"
